/************************************************
Hoja de estilos con los iconos del sitio web

Proyecto: API Rest Full - Codeando.org
Author: Paulo Andrade
Web: http://www.pauloandrade1.com
Email: source.compu@gmail.com
************************************************/

@font-face{
	font-family: 'icomoon';
	src: url('/app/fonts/icomoon.eot');
	src: url('/app/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
	url('/app/fonts/icomoon.svg#icomoon') format('svg'),
	url('/app/fonts/icomoon.woff') format('woff'),
	url('/app/fonts/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	color: #999;
	font-size: 16px;
	padding-right: 10px;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/************************************************
* POR DEFAULT
************************************************/

.icon-home:before {
	content: "\e600";
}
.icon-pencil:before {
	content: "\e605";
}
.icon-pencil2:before {
	content: "\e606";
}
.icon-image:before {
	content: "\e60d";
}
.icon-play:before {
	content: "\e612";
}
.icon-connection:before {
	content: "\e61b";
}
.icon-books:before {
	content: "\e620";
}
.icon-file-text:before {
	content: "\e622";
}
.icon-file-empty:before {
	content: "\e624";
}
.icon-stack:before {
	content: "\e62e";
}
.icon-folder:before {
	content: "\e62f";
}
.icon-folder-open:before {
	content: "\e630";
}
.icon-price-tag:before {
	content: "\e635";
}
.icon-price-tags:before {
	content: "\e636";
}
.icon-cart:before {
	content: "\e63a";
}
.icon-credit-card:before {
	content: "\e63f";
}
.icon-envelop:before {
	content: "\e645";
}
.icon-pushpin:before {
	content: "\e646";
}
.icon-location:before {
	content: "\e647";
}
.icon-location2:before {
	content: "\e648";
}
.icon-bell:before {
	content: "\e651";
}
.icon-printer:before {
	content: "\e654";
}
.icon-display:before {
	content: "\e656";
}
.icon-mobile2:before {
	content: "\e659";
}
.icon-tablet:before {
	content: "\e65a";
}
.icon-floppy-disk:before {
	content: "\e662";
}
.icon-drive:before {
	content: "\e663";
}
.icon-database:before {
	content: "\e664";
}
.icon-bubble:before {
	content: "\e66b";
}
.icon-bubbles2:before {
	content: "\e66d";
}
.icon-user:before {
	content: "\e671";
}
.icon-users:before {
	content: "\e672";
}
.icon-search:before {
	content: "\e686";
}
.icon-enlarge:before {
	content: "\e689";
}
.icon-shrink:before {
	content: "\e68a";
}
.icon-enlarge2:before {
	content: "\e68b";
}
.icon-shrink2:before {
	content: "\e68c";
}
.icon-key:before {
	content: "\e68d";
}
.icon-lock:before {
	content: "\e68f";
}
.icon-cog:before {
	content: "\e694";
}
.icon-magic-wand:before {
	content: "\e697";
}
.icon-bin2:before {
	content: "\e6ad";
}
.icon-power:before {
	content: "\e6b5";
}
.icon-switch:before {
	content: "\e6b6";
}
.icon-clipboard:before {
	content: "\e6b8";
}
.icon-menu:before {
	content: "\e6bd";
}
.icon-menu2:before {
	content: "\e6be";
}
.icon-menu3:before {
	content: "\e6bf";
}
.icon-cloud:before {
	content: "\e6c1";
}
.icon-cloud-download:before {
	content: "\e6c2";
}
.icon-cloud-upload:before {
	content: "\e6c3";
}
.icon-cloud-check:before {
	content: "\e6c4";
}
.icon-sphere:before {
	content: "\e6c9";
}
.icon-earth:before {
	content: "\e6ca";
}
.icon-link:before {
	content: "\e6cb";
}
.icon-attachment:before {
	content: "\e6cd";
}
.icon-star-empty:before {
	content: "\e6d7";
}
.icon-star-half:before {
	content: "\e6d8";
}
.icon-star-full:before {
	content: "\e6d9";
}
.icon-happy2:before {
	content: "\e6e0";
}
.icon-smile2:before {
	content: "\e6e2";
}
.icon-tongue2:before {
	content: "\e6e4";
}
.icon-sad2:before {
	content: "\e6e6";
}
.icon-wink2:before {
	content: "\e6e8";
}
.icon-grin2:before {
	content: "\e6ea";
}
.icon-cool2:before {
	content: "\e6ec";
}
.icon-angry2:before {
	content: "\e6ee";
}
.icon-evil2:before {
	content: "\e6f0";
}
.icon-shocked2:before {
	content: "\e6f2";
}
.icon-baffled2:before {
	content: "\e6f4";
}
.icon-confused2:before {
	content: "\e6f6";
}
.icon-neutral2:before {
	content: "\e6f8";
}
.icon-hipster2:before {
	content: "\e6fa";
}
.icon-wondering2:before {
	content: "\e6fc";
}
.icon-sleepy2:before {
	content: "\e6fe";
}
.icon-frustrated2:before {
	content: "\e700";
}
.icon-crying2:before {
	content: "\e702";
}
.icon-plus:before {
	content: "\e70a";
}
.icon-minus:before {
	content: "\e70b";
}
.icon-cross:before {
	content: "\e70f";
}
.icon-checkmark:before {
	content: "\e710";
}
.icon-enter:before {
	content: "\e713";
}
.icon-play3:before {
	content: "\e71c";
}
.icon-loop:before {
	content: "\e72d";
}
.icon-loop2:before {
	content: "\e72e";
}
.icon-arrow-left:before {
	content: "\e738";
}
.icon-circle-left:before {
	content: "\e744";
}
.icon-checkbox-checked:before {
	content: "\e752";
}
.icon-scissors:before {
	content: "\e75a";
}
.icon-bold:before {
	content: "\e762";
}
.icon-underline:before {
	content: "\e763";
}
.icon-italic:before {
	content: "\e764";
}
.icon-strikethrough:before {
	content: "\e765";
}
.icon-paragraph-left:before {
	content: "\e777";
}
.icon-paragraph-center:before {
	content: "\e778";
}
.icon-paragraph-right:before {
	content: "\e779";
}
.icon-paragraph-justify:before {
	content: "\e77a";
}
.icon-embed:before {
	content: "\e77f";
}
.icon-embed2:before {
	content: "\e780";
}
.icon-terminal:before {
	content: "\e781";
}
.icon-google-plus:before {
	content: "\e788";
}
.icon-google-plus2:before {
	content: "\e789";
}
.icon-google-plus3:before {
	content: "\e78a";
}
.icon-facebook:before {
	content: "\e78c";
}
.icon-facebook2:before {
	content: "\e78d";
}
.icon-facebook3:before {
	content: "\e78e";
}
.icon-twitter:before {
	content: "\e791";
}
.icon-twitter2:before {
	content: "\e792";
}
.icon-twitter3:before {
	content: "\e793";
}
.icon-feed3:before {
	content: "\e795";
}
.icon-feed4:before {
	content: "\e796";
}
.icon-youtube:before {
	content: "\e797";
}
.icon-youtube3:before {
	content: "\e799";
}
.icon-youtube4:before {
	content: "\e79a";
}
.icon-picassa:before {
	content: "\e7a4";
}
.icon-dropbox:before {
	content: "\e7af";
}
.icon-github:before {
	content: "\e7b1";
}
.icon-github4:before {
	content: "\e7b4";
}
.icon-wordpress:before {
	content: "\e7b6";
}
.icon-joomla:before {
	content: "\e7b8";
}
.icon-blogger:before {
	content: "\e7b9";
}
.icon-tux:before {
	content: "\e7be";
}
.icon-apple:before {
	content: "\e7bf";
}
.icon-android:before {
	content: "\e7c1";
}
.icon-windows8:before {
	content: "\e7c3";
}
.icon-soundcloud:before {
	content: "\e7c4";
}
.icon-skype:before {
	content: "\e7c6";
}
.icon-linkedin:before {
	content: "\e7c8";
}
.icon-stackoverflow:before {
	content: "\e7cf";
}
.icon-paypal:before {
	content: "\e7d6";
}
.icon-html5:before {
	content: "\e7df";
}
.icon-css3:before {
	content: "\e7e1";
}
.icon-git:before {
	content: "\e7e2";
}
.icon-chrome:before {
	content: "\e7e5";
}
.icon-firefox:before {
	content: "\e7e6";
}
.icon-IE:before {
	content: "\e7e7";
}
.icon-opera:before {
	content: "\e7e8";
}
.icon-safari:before {
	content: "\e7e9";
}

/*******************************************************************
ICONOS PERSONALIZADOS
*******************************************************************/

.icon-arrow-down:after
{
	color: #999;
	content: "\e638";
	font-family: "icomoon";
	font-size: 16px;
	float: right;	
}
.icon-exit:before
{
	color: #999;
	content: "\e6b6";
	font-family: "icomoon";
	font-size: 16px;
	padding-right: 10px;
}
.icon-trash:before
{
	color: #222;
	content: "\e6ad";
	font-family: "icomoon";
	font-size: 16px;
	padding-right: 10px;	
}
.icon-edit:before
{
	color: #222;
	content: "\e606";
	font-family: "icomoon";
	font-size: 16px;
	padding-right: 10px;	
}
.icon-yes:before
{
	color: #222;
	content: "\e710";
	font-family: "icomoon";
	font-size: 16px;
	padding-right: 10px;	
}
.icon-no:before
{
	color: #222;
	content: "\e70f";
	font-family: "icomoon";
	font-size: 16px;
	padding: 0 10px;	
}
.icon-menu-inicio:before {
	content: "\e6bd";
	color: #176DEE;
	font-family: "icomoon";
	font-size: 36px;
	padding: 0 10px;	
}